<section id="add">
    <div class="form-wrap">
        <h1>Agregar un producto</h1>
        <hr />
        <p>Ingresa los datos para agregar un producto</p>
        {{#if errors}}
        <h3>Error</h3>
        {{/if}}
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}

        <form action="/items/add" method="POST" class="form">
            <div class="input-group">
                <label for="item_name">nombre</label>
                <input type="text" name="item_name" id="item_name" class="input-box" placeholder="Nombre de producto"
                    maxlength="100" value="{{item_name}}" />
            </div>

            <div class="input-group">
                <label for="item_cost">Precio de compra</label>
                <input type="number" name="item_cost" id="item_cost" class="input-box" placeholder="eg. 500, 5000, 10000"
                    value="{{item_cost}}" />
            </div>
            <div class="input-group">
                <label for="item_units">Cantidad o contenido</label>
                <input type="number" name="item_units" id="item_units" class="input-box" placeholder="eg. 500, 5000, 10000"
                    value="{{item_units}}" />
            </div>

            <input type="submit" value="Agregar Producto" class="btn" />
        </form>
    </div>
</section>