<section id="search" class="search-wrap">
    <h1>Encuentra un producto...</h1>
    <form action="#" class="search-form">
        <i class="fas fa-search fa-lg"></i>
        <input type="search" name="term" placeholder="Encuentra un producto" />
        <input type="submit" value="Search" />
    </form>
</section>